# <b> Exploratory Data Analysis: Failed Bank List
### Author: Clayton Seabaugh
### Date: 9/27/2024

### Import Libraries

In [7]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import csv

In [13]:
df = pd.read_csv(r'C:\Users\clayt\Documents\datafun-06-eda\banklist.csv',  encoding='ISO-8859-1')
print(df.head)

<bound method NDFrame.head of                                 Bank Name           City  State   Cert   \
0    Republic First Bank dba Republic Bank   Philadelphia     PA  27332
1                            Citizens Bank       Sac City     IA   8758
2                 Heartland Tri-State Bank        Elkhart     KS  25851
3                      First Republic Bank  San Francisco     CA  59017
4                           Signature Bank       New York     NY  57053
..                                     ...            ...    ...    ...
564                     Superior Bank, FSB       Hinsdale     IL  32646
565                    Malta National Bank          Malta     OH   6629
566        First Alliance Bank & Trust Co.     Manchester     NH  34264
567      National State Bank of Metropolis     Metropolis     IL   3815
568                       Bank of Honolulu       Honolulu     HI  21029

                  Acquiring Institution  Closing Date    Fund
0      Fulton Bank, National Association     26-Apr-24  10546
1              Iowa Trust & Savings Bank      3-Nov-23  10545
2                 Dream First Bank, N.A.     28-Jul-23  10544
3              JPMorgan Chase Bank, N.A.      1-May-23  10543
4                    Flagstar Bank, N.A.     12-Mar-23  10540
..                                   ...           ...    ...
564                Superior Federal, FSB     27-Jul-01   6004
565                    North Valley Bank      3-May-01   4648
566  Southern New Hampshire Bank & Trust      2-Feb-01   4647
567              Banterra Bank of Marion     14-Dec-00   4646
568                   Bank of the Orient     13-Oct-00   4645

[569 rows x 7 columns]>